* {
  --anchoIcono: 2.4rem;
}
main {
  align-items: center;
  justify-content: center;
  height: 100vh;
}

._beerCard {
  min-height: 25rem;
  height: fit-content;
  width: 35rem;

  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 40% 30% 30%;

  position: relative;

  border-radius: 1rem;
  background-color: #eeeeee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);
}

#informacion_card {
  grid-row: 2 / span 2;
  display: flex;
  flex-direction: column;
}

#brand_name_beerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 50;
}

#brand_name_beerCard h2 {
  text-align: center;
  font-size: 2.5rem;
  font-style: italic;
}

#brand_name_beerCard .brandShorter {
  font-size: 1.8rem;
}

#brand_name_beerCard h3 {
  text-align: center;
  font-size: 2rem;
}

#buttonReportIssue,
#buttonEditBeer {
  position: absolute;
  margin: 10px;
  top: calc((var(--anchoIcono) / -1.5));
}

#buttonReportIssue {
  transform: scaleX(-1);
  left: calc((var(--anchoIcono) / -2));
}

#buttonEditBeer {
  right: calc((var(--anchoIcono) / -2));
}

#buttonReportIssue .ReportIssueIcon,
#buttonEditBeer .EditBeerIcon {
  width: var(--anchoIcono);
  height: var(--anchoIcono);
  padding: 0;

  transition: transform 0.15s ease-in-out, color 0.3s ease-in-out; /* Agrega una transición suave */

  /* --ancho: 2.4rem;
  width: var(--ancho);
  position: absolute;
  top: calc((var(--ancho) / -2) + (var(--ancho) / 6));
  right: calc((var(--ancho) / -2) + (var(--ancho) / 6)); */
  /* filter: grayscale(1); */
}

#buttonReportIssue .ReportIssueIcon:hover {
  transform: scale(1.4);
}

#informacion_card #container_graduation_style_beerCard {
  flex: 50;
  grid-row: 2;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#informacion_card #container_graduation_style_beerCard p {
  font-size: 1.2rem;
}

#informacion_card #container_country_icon_beerCard {
  grid-row: 3;
  flex: 50;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#beer_icon_card {
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 50;

  border-radius: 1rem 0 0 1rem;
  max-width: 14rem;

  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.24);
}

#beer_icon_card * :not(img) {
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  object-fit: contain;
}

#beer_icon_card img {
  height: 14rem;
  align-self: center;
  object-fit: cover;
}

#beer_country_card {
  width: 5rem;
}

#flag_icon_card {
  width: 4rem;
}

.arrow {
  padding: 10px 20px;
  /* position: absolute; */
  top: 30%;
  border-radius: 5px;
  background-color: #eeeeee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);

  display: flex;

  /* justify-content: center; */
  align-items: center;
}

.right .arrow {
  justify-content: end;
}

.left .arrow {
  justify-content: start;
}

.arrow:hover {
  /* cursor: pointer; */
  background-color: #3354a221;
  box-shadow: 0 0 5px #3354a2be;
}

.arrow img {
  width: 1.5rem;
  height: 1.5rem;
}

.left {
  grid-column: 2;
}

.right {
  grid-column: 4;
}

.blocked {
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
}

.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

#commentas_card {
  margin: 50px 0 10px 0;
  background-color: #eeeeee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);
  width: 125%;
  border-radius: 0.8rem;
}

#comments_beer_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#h2_notas {
  margin-top: 8px;
  font-size: 1.4rem;
  font-style: italic;
}

#comments_beer_card #comment {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.arrowContainer {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.blocked .arrow {
  background-color: rgba(136, 136, 136, 0.2);
}

.blocked .arrow img {
  opacity: 0.4;
}

.commentsForm {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-width: 60%;
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: bisque; */
}

.commentsForm .addCommentsButton,
.commentsForm .closeCommentsButton {
  width: 100%;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addCommentsButton {
  background-color: #4caf50 !important;
}

.closeCommentsButton {
  background-color: #f50000 !important;
}

@media (max-width: 850px) {
  ._beerCard {
    font-family: "Poppins";
    margin-top: 5rem;
    min-width: 80%;
    height: 20rem;
    width: 22rem;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 30% 25%;
    background-color: #eaf1ff;
  }

  #beer_icon_card {
    grid-row: 2 / span 2;
    grid-column: 1;
    box-shadow: none;
  }

  #brand_name_beerCard {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  #informacion_card #container_graduation_style_beerCard {
    flex-direction: column;
  }

  #brand_name_beerCard h2 {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
  }

  #brand_name_beerCard h3 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
  }

  #informacion_card #container_graduation_style_beerCard #beer_graduation {
    order: 2;
    font-size: 1.15rem;
  }

  #informacion_card #container_graduation_style_beerCard #beer_style {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    order: 1;
  }

  #informacion_card #container_country_icon_beerCard {
    flex-direction: column;
    justify-content: center;
  }
  #informacion_card #container_country_icon_beerCard * {
    font-size: 0;
    gap: 5px;
  }

  .arrow {
    /* top: 88%; */
    /* border-radius: 5px; */
    background-color: #eeeeee;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);
  }

  .blocked .arrow {
    background-color: rgba(136, 136, 136, 0.2);
  }

  .blocked .arrow img {
    opacity: 0.4;
  }

  #flag_icon_card {
    width: 4rem;
    height: 3rem;
    object-fit: cover;
    overflow: hidden;
  }

  /* .rigth {
    right: 10%;
  }

  .left {
    left: 10%;
  } */
}

@media (max-width: 450px) {
  ._beerCard {
    max-width: 65%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 30% 25%;
    background-color: #eaf1ff;
  }

  #beer_icon_card img {
    height: 10rem;
  }
}
