@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#highView {
  visibility: visible;
  min-height: 5rem;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  background: rgb(9, 79, 121);
  background: radial-gradient(
    circle,
    rgba(9, 79, 121, 0.35) 0%,
    rgba(0, 212, 255, 0.05) 100%
  );
}

#lowView {
  background: rgb(37, 39, 53);
  /* background: radial-gradient(
    circle,
    rgba(9, 79, 121, 0.35) 0%,
    rgba(0, 212, 255, 0.05) 100%
  ); */
  display: none;
}

#highView .mainIcon {
  min-width: 4rem;
  min-height: 4rem;
  align-self: center;
  padding: 0.2rem;
}

header menu {
  min-width: 60%;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  font-size: 1.5rem;
}

#hamburguerMenu {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-flow: column nowrap;
  z-index: 10;
}

@media (max-width: 850px) {
  #highView {
    display: none;
  }

  #lowView {
    padding: 0.4rem;
    height: 10rem;
    visibility: visible;
    display: grid;
    grid-template-columns: 80% 1fr;
    justify-items: center;
    align-items: center;
  }

  .mainTitle {
    font-size: 48px;
    letter-spacing: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background: linear-gradient(
      to right,
      #fc4c2d,
      #ecae95
    ); 
    background-clip: text; 
    color: transparent; 
    text-align: center; 
    -webkit-text-fill-color: transparent; 
  }

  #hamburguerMenu {
    display: fixed;
    padding-left: 10px;
  }
}

@media (max-width: 500px) { 
  .mainTitle {
    font-size: 36px;
  }
}

@media (max-width: 400px) { 
  .mainTitle {
    font-size: 28px;
  }
}

