/* OverlayComponent.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(102, 102, 102, 0.1); /* Fondo semitransparente */
  backdrop-filter: blur(5px); /* Aplicar blur */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.overlay-content {
  background: white;
  width: 60%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asegura que el contenido esté por encima del blur */

  position: relative;
}

.overlay .closeFormButton {
  --ancho: 2.4rem;
  width: var(--ancho);
  position: absolute;
  top: calc((var(--ancho) / -2) + (var(--ancho) / 6));
  right: calc((var(--ancho) / -2) + (var(--ancho) / 6));

  cursor: pointer;
}

.formIssues input {
  border: 1px solid black;
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
}

.formIssues textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
  border: 1px solid black;
  resize: vertical;
}

.formIssues {
  display: flex;
  flex-direction: column;

}

.formIssues button {
  margin-top: 2rem;
  align-self: center;
}

/* .formIssues input:focus {
  border-width: 5px;
} */

.formulario-label {
  display: block;
  margin-bottom: 10px;
}

@media (max-width: 850px) {
  .overlay-content {
    width: 80%;
  }
}
