main {
  max-width: 100%;
}

.home-component-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-component {
  padding: 2rem;
  border-radius: 0.375rem;
  text-align: center;
  width: 95vw;
}

.container-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-title img {
  max-width: 6rem;
}

.home-component h2 {
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  color: #8750a5;
  font-family: "Soria", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  letter-spacing: 2px;
  background-image: linear-gradient(180deg, #3354a2, #4a6ec2, #3354a2, #3354a2);
  background-clip: text;
  color: transparent;
}

.home-component p {
  color: #020203;
  margin: 20px 0;
  font-size: 3rem;
}

#div-container {
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

#div-container:hover > img {
  animation: arrowAnimation 1s ease-out infinite;
}

#container-car-text {
  display: flex;
  flex-direction: column;
}

#container-text-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

#container-text-arrow img {
  max-width: 2rem;
  color: #3354a2;
}

#first-paragraph {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

#container-text-arrow:hover > img {
  animation: arrowAnimation 1s ease-out infinite;
}

@keyframes arrowAnimation {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }

  25%,
  75% {
    transform: translateX(8px);
  }
}

#text {
  display: flex;
  flex-direction: column;
}

#text p {
  font-size: 1.1rem;
}

#car-home > img {
  height: 10.5rem;
}

@keyframes arrowAnimation {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }

  25%,
  75% {
    transform: translateX(8px);
  }
}

@media (max-width: 850px) {

  .home-component .container-title {
    display: none;
  }

  .home-component #welcomeText{
    font-family: "Poppins";
    text-align: center;
    font-weight: 500;
    margin: 3.8rem 0 0 0;
    font-size: 250%;
    letter-spacing: 3px;
  }
  .home-component #container-car-text {
    font-family: "Poppins";
  }

  .home-component #container-car-text p{
    font-size: 1.2rem;
    text-align: center;
  }

  #div-container {
    font-size: 24px;
    margin-bottom: 2rem;
  }

  #car-home {
    display: inline-block;
    width: 100%;
  }

  #car-home > img {
    height: 8rem;
  }
}
