.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.login_logo {
  margin: 2rem 0;
  object-fit: contain;
  width: 8rem;
  margin-right: auto;
  margin-left: auto;
}

.login_container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  margin-top: 4rem;
  align-items: center;
}

.login_container > h2 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login_container > .login_form > h5 {
  margin-bottom: 5px;
}

.login_container > .login_form input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  padding: 4px;
  padding-left: 8px;
  border: 1px solid black;
}

.login_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login_form .login_signInButton {
  margin: 1rem;
  justify-items: flex-end;
}

.email_gap,
.password_gap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
}

.login_container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login_signInButton {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
  align-items: end;
}

.login_registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  cursor: pointer;
}

.login_signInButton:hover,
.login_registerButton:hover {
  scale: 1.05;
}

.password_gap {
  position: relative;
}

.password_gap button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 39, 53, 0.116);
}

.password_gap img {
  margin: 0 !important;
  padding: 0 !important;
  width: 1.2rem;
}

.password_gap button {
  position: absolute;
  top: 0;
  right: 3px;
  cursor: pointer;
  width: 40px;
  height: 74%;
  border-left: 1px solid rgb(0, 0, 0);
  border-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 10%,
    rgb(37, 39, 53) 10%,
    rgb(37, 39, 53) 50%,
    rgb(37, 39, 53) 90%,
    transparent 90%,
    transparent 100%
  );
  border-image-slice: 1; /* Cortar el degradado en la posición del borde */
}

.importantText {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: rgb(23, 40, 187);
  font-style: italic;
  font-weight: 800;
}

.importantText::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(23, 40, 187);
  animation: underlineAnimation 3s infinite; /* Puedes ajustar la duración según tus preferencias */
}

@keyframes underlineAnimation {
  0% {
    width: 0;
  }
  15% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  85% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
