#contactoBorja {
  margin: 2rem 0 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contactoBorja * {
  font-size: 1.8rem;
  text-align: center;
}
.first_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldset_general {
  width: 60%;
  max-width: 50rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.fieldset_contact {
  max-width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.field_name,
.field_email {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  text-align: center;
  width: 100%;
  font-size: 1.35rem;
}

.field_name input,
.field_email input {
  background-color: rgba(0, 0, 0, 0.04);
  margin-bottom: 0.75rem;
  height: 2rem;
  text-align: center;
  max-width: 100%;
  font-size: 1.05rem;
  padding: 0.5rem;
}

.field_name input:focus,
.field_email input:focus,
.field_message textarea:focus {
  border: 4px solid #3354a2;
}
.field_name input {
  text-transform: capitalize;
}

.field_message * {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  text-align: center;
  max-width: 35rem;
  font-size: 1.35rem;
  outline: none;
}

.field_message textarea {
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.04);
}

.first_form button {
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 50%;
  margin-bottom: 2rem;
  outline: none;
  border: 1px solid black;
}

form button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.redes {
  min-width: 40rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 0;
}

.redes ul li {
  justify-content: space-between;
}

@media (max-width: 850px) {
  .fieldset_general {
    width: auto;
    max-width: 80%;
    margin: 0 auto;
    box-shadow: none;
    border: none;
  }

  .first_form {
    width:85%;
    align-items: center;
    margin: 0 auto;
  }

  .fieldset_contact {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .field_name, .field_email {
    padding: 0;
  }

  .field_message {
    max-width: 100%;
  }

/* Estilo cuando el input está en estado de enfoque */
.field_name input:focus,
.field_email input:focus,
.field_message textarea:focus {
  border: 4px solid #3354a2; /* Borde más grande cuando el input está enfocado */
}


}
